body{
font-family: verdana, arial;
background-color: #F2F2F2;
}
#general{




}
#encabezado{

height: 90px;

padding: 5px;

}
#logo{
color:#FF4000;
text-shadow: 0.1em 0.1em 0.05em #333;

}
#menu
{
margin-top:20px;
float:right;
}

#izquierda
{

min-height: 300px;


}


#derecha{


}
#izquierda h3


}

#footer
{

}

#map3d{
    max-width: 100%;
}
