#encabezado{
    
    color: fff;
    background-color: #3dc9f7;
    padding: 5px;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    margin-top: 10px;
    
    box-shadow:5px 2px 40px 6px rgba(255, 252, 252, 0.65);
    -webkit-box-shadow: 5px 2px 40px 6px rgba(255, 252, 252, 0.65);
    -moz-box-shadow: 5px 2px 40px 6px rgba(255, 252, 252, 0.65);
}



body{

background: #09c519 url('../img/grass1.jpg');

    font-family: 'Sanchez', serif;


    padding: 5px;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
}


#general{

}


#logo{
    
}
#menu{
    margin-top:10px;
    float:right;
}
#menu ul{
    margin: 0;  
    float: right;
}
#menu ul li a{
    
     -webkit-transition: background-color .25s linear;
     -moz-transition: background-color .25s linear;
       -o-transition: background-color .25s linear;
          transition: background-color .25s linear;
}
#menu ul li a:hover{

}


#cuerpo{

background-color: #3dc9f7;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
  box-shadow:6px 8px 28px 6px rgba(255, 252, 252, 0.65);
    -webkit-box-shadow: 6px 8px 28px 6px rgba(255, 252, 252, 0.65);
    -moz-box-shadow:6px 8px 28px 6px rgba(255, 252, 252, 0.65);

}





#derecha{
color: #FFF;
 text-shadow: 0.1em 0.1em 0.05em #333;
  margin-bottom: 20px;
}

#izquierda
{

min-height: 300px;


}

#izquierda h1{
    
font-size: 25px;  
color: #FFF;
text-shadow: 0.1em 0.1em 0.05em #333;

}

#footer
{

}

#map3d{
    max-width: 100%;
}
/* Tabs*/
.tab{
    height: 50px;
    
    background-color: rgba(197, 206, 195, 1);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
}
.tab.active{
    background-color: rgba(96, 177, 76, 1);
}
.tab:hover{
    text-decoration:none;
    background-color: rgba(96, 177, 76, 1);
    color:white;
}

/** Accordion **/
#accordion{
    margin-bottom: 25px;
}
/**Scroll bar **/

::-webkit-scrollbar {
margin-right: 5px;
background-color: #ddd;
width: 10px;
}
::-webkit-scrollbar-thumb {
border: 1px #eee solid;
border-radius: 4px;
background: #777;
-webkit-box-shadow: 0 0 8px #555 inset;
box-shadow: 0 0 8px #555 inset;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: 0 0 2px #ccc;
box-shadow: 0 0 2px #ccc;
}
/** FAQ PAGE **/
.faq h1{
border-bottom: 1px solid rgba(172, 162, 162, 0.6);
}

/** Team **/
.team li{
line-height: 20px;
list-style: none;
margin-top: 10px;
font-size: 15px;
}

/* MEDIA QUERIES */
/* mobile devices */
@media (max-width: 480px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 17px;
    }
}

/*  landscape  */
@media (min-width: 600px) and (max-width: 979px) {
    
}
/* Web */
@media (min-width: 980px) {

}

#boton1{
    
font-size: 25px;  
color: #FFF;
text-shadow: 0.1em 0.1em 0.05em #333;

}

